* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url('7.jpg');
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center;
  height: 100%;
}

body.index {
  height: auto;
}

.container {
  max-width: 805px;
  margin: 2rem auto;
}

h1,
h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: hsl(140, 44%, 65%);
  text-decoration: none;
}

.container p,
.container textarea {
  font-size: 30px;
  color: rgb(0 56 157);
  font-weight: 600;
}

#pi-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#username-input {
  display: block;
}

#pi-input {
}

#pi-submit {
  background-color: hsl(194deg 40% 55%);
  color: #fff;
  border: none;
  cursor: pointer;
}

#pi-submit:hover {
  background-color: rgb(0, 137, 179);
}

.error {
  color: #ff5f54;
  margin-top: 0;
  margin-bottom: 1rem;
}

.highscore,
#pi-username {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  color: #fff;
}

#pi-count {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#pi-decimals {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%;
  border: 0;
  resize: none;
  background-color: transparent;
}

header {
  color: #fff;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(0, 137, 179);
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  padding: 0.5rem 1rem;
  display: block;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem 0 4rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: #ffffffba;
}

thead th {
  text-align: left;
  padding: 0.5rem;
  background-color: hsl(194deg 40% 55%);
  font-weight: 600;
  font-size: 1.2rem;
}

thead {
  color: #fff;
}

tbody td {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #bdbdbd;
}

.highscore {
  margin-bottom: 10px;
}

input[type='text'],
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #bbb;
  font-size: 18px;
  color: #000;
  outline: none;
}

button {
  background-color: rgb(0, 137, 179);
  outline: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(194deg 40% 55%);
}

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  color: rgb(0 89 85);
}

nav ul li a:hover {
  color: rgb(0, 196, 189);
}

h2 {
  color: hsl(194deg 40% 55%);
  font-weight: 600;
}

.pdf {
  margin-top: 1rem;
}
